<configuration>
        <packageSources>
            <clear/>
            <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
            <add key="MyTelerikFeed" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3"/>
        </packageSources>
        <packageSourceCredentials>
            <MyTelerikFeed>
                <add key="Username" value="mahmoud.elrefai@hotmail.com" />
                <add key="ClearTextPassword" value="NeoFalcon13" />
            </MyTelerikFeed>
        </packageSourceCredentials>
</configuration>
    